<h1>CREATE A CHARACTER</h1>

<%= form_for(@character) do |f| %>
  <div class="form">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: 'Name'%>
  </div>

  <div class="form">
    <%= f.label :race%><br>
    <%= f.select :race, options_for_select(['','Android','Human','Kasatha','Lashunta','Shirren','Vesk','Ysoki'])%>
  </div>

  <div class="form">
    <%= f.label :theme%><br>
    <%= f.text_field :theme, placeholder: 'Theme'%>
  </div>

  <div class="form">
    <%= f.label "Class"%><br>
    <%= f.text_field :character_class, placeholder: 'Class'%>
  </div>

  <div class="form">
    <%= f.label "level"%><br>
    <%= f.number_field :class_level, placeholder: 'Class Level'%>
  </div>

  <div class="form">
    <%= f.label :description%><br>
    <%= f.text_area :description, placeholder: 'Tell us about your character'%>
  </div>

  
    
    <%= f.submit %>
    
<%end%>