<h1>CHARACTER SHEET</h1>



<div class="character_show">
<h2>CHARACTER NAME: <u><%=@character.name%></u>
<b>
<p>RACE: <u><%=@character.race%></u></p>
<p>THEME: <u><%=@character.theme%></u></p>
<p>CLASS: <u><%=@character.character_class%></u></p>
<p>LEVEL: <u><%=@character.class_level%></u></p>
<p>DESCRIPTION: <u><%=@character.description%></u></p>
</h2>
</b>
</div>

<div class="edit_delete">
<%= link_to "Edit or Delete Character Sheet", edit_character_path(@character)%> 

</div>

