<u><h1>Your Starfinder Character</h1></u>

<h2><%=@character.name%></h2>
<p><%=@character.race%></p>
<p><%=@character.theme%></p>
<p><%=@character.character_class%></p>
<p><%=@character.class_level%></p>
<p><%=@character.description%></p>