

<div class="container">
<% if current_user%>
    <div class="search">
    <%= form_tag(campaigns_path, method: "get") do %>
    <%= label_tag(:search, "Search:") %>
    <%= search_field_tag(:search, nil, placeholder: "Search for Campaign")%><br>
    <% end %>
    </div>
<%else%>
    <h2><%= link_to "Create a Starfinder Companion account", new_user_path%></h2>
    or
    <h2><%= link_to('Sign Up with Github!', '/auth/github') %></h2>
<%end%>
</div>


   







