<% campaign_order.each do |campaign|%>
    <tr>
        <td><%= link_to campaign.title, campaign_path(campaign)%></td>
        <td><%= campaign.adventure_path%></td>
        <td>
        <% campaign.characters.each do |character|%>
                <%if owned?(character)%>
                    <p><%= link_to character.name, character_path(character)%></p>
                <%else%>
                    <p><%=character.name%></p>
                <%end%>
        <%end%>
        </td>
        <td>
        <p><%= starship_count(campaign)%></p>
            <%if starships?(campaign)%>
        <p><%= link_to "View Ships", campaign_starships_path(campaign)%></p>
            <%end%>
            <% if owned?(campaign) %>
        <p><%= link_to "Add a Ship", campaign_path(campaign)%></p>
            <%end%>
        </td>
            <%if owned?(campaign)%>
            <td><%= link_to "Update/Delete", edit_campaign_path(campaign)%></td>
            <%else%>
                <td>N/A</td>
            <%end%>
        <td><%= campaign.need_players?%></td>
    </tr>
<%end%>