<h1>YOUR CAMPAIGNS</h1>

<table class="table">
<tr>
<th>Campaign Title</th>
<th>Adventure Path</th>
<th>Game Master</th>
<th>Looking For Players</th>
<th>Characters</th>
<th>Status</th>
</tr>

<% @campaign.each do |campaign|%>
    <tr>
        <td><%= link_to campaign.title, campaign_path(campaign)%></td>
        <td><%= campaign.adventure_path%></td>
        <td><%= campaign.game_master%></td>
        <td><%= campaign.need_players?%></td>
        <td>
        <% campaign.characters.each do |character|%>
            <p><%= link_to character.name, character_path(character)%></p>
        <%end%>
        </td>
        <td><%= link_to "Update/Delete", edit_campaign_path(campaign)%></td>
    </tr>
<%end%>

</table>