<h1><%= @campaign.title%></h1>

<div class="campaign_show">
    <h2>
    <p>Adventure Path: <u><%= @campaign.adventure_path%></u></p>
    <p>Looking for Players? <u><%= @campaign.need_players?%></u></p>
    <p>Starships: 
        <% @campaign.starships.each do |starship| %>
            <u><p><%= starship.name%>
        <%end%>
    </u></p>
    </h2>
</div>

<% if @campaign.user_id == current_user.id%>

<h3>Add a Starship?</h3>

<% if @starship.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@starship.errors.count, "error") %> prohibited this starship from being saved:
      </h2>

      <ol>
      <% @starship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ol>
    </div>
  <% end %>

<%= form_for([@campaign, @starship]) do |f|%>

   <%= render partial: 'starships/form', locals: {f: f}%>

<%end%>

 <%end%>