<!DOCTYPE html>
<html>
  <head>
    <title>StarfinderCompanionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <div class="header">
  <%= link_to image_tag("/IMG_dice.jpg"), root_url%>
  <h1>
  <%= link_to "STARFINDER COMPANION", root_url%>
  </h1>
  </div>

  <div class="topnav">
  <%= link_to "Characters", characters_path%>
  <%= link_to "Campaigns", campaigns_path%>
  <%= link_to "Starships", starships_path%>
  <%= link_to "Create a Character", new_character_path%>
  <%= link_to "Create a Campaign", new_campaign_path%>
  <a href="#" class="right">Sign In</a>
  </div>

  <body>
    <%= yield %>
    <div class="footer">
      <p><a href="#" class="left"> Designed by Andy Atari</a>
      <a href="#"> Made for Flatiron School</a>
      <a href="#" class="right"> To Infinity and Beyond</a></p>
    </div>
  </body>
</html>
